<ion-header>
  <ion-toolbar color="dark">

    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="close" (click)="closeModal()"></ion-icon>
    </ion-buttons>

    <ion-title>Select Avatar</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col size="4" *ngFor="let avatar of avatars">
        <img class="img-thumbnail" [src]=avatar.link (click)= "closeModal(avatar)">
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>

